//- the top navigation bar. visible on every page
div(class="container")    
	
//- the content section that will be swapped on each different route
section(id="content", class="container")
	div(ui-view="content", class="wrapper")