
span(ng-include="'partials/navigation.jade'", class="navigation")

section(id="overview-section")
	div.container
		h1
			| counter detail layout

section.container(id="content", class="container")
	div(ui-view="content", class="wrapper")