extends layout

block body

	script()
		var BACKEND_URL = "https://radiant-fire-4047.firebaseio.com";

	header
		nav
			div.container
				ul.nav.navbar-nav
					li
						a(ui-sref="app.profile") profile
					li
						a(ui-sref='view2') view2
		section(id="overview-section")
			div.container
				h1
					| Welcome text
				div(ng-controller="MainCtrl")
					| {{message}}

	//- render page partial in here
	div(ui-view)

		
	//- libs
	script(src='app-src/lib/bower/jquery/jquery.js')
	script(src='app-src/lib/bower/lodash/lodash.js')

	//- angular
	script(src='app-src/lib/bower/angular/angular.js')
	script(src='app-src/lib/bower/angular-cookies/angular-cookies.js')
	script(src='app-src/lib/bower/angular-ui-router/release/angular-ui-router.js')

	//- services
	script(src='app-src/js/services/rest-service.js')
	//- controllers
	script(src='app-src/js/controllers/main-ctrl.js')
	script(src='app-src/js/controllers/profile-ctrl.js')
	//- app
	script(src='app-src/js/configs/routes-cfg.js')
	script(src='app-src/js/app.js')


