extends layout

block body

	header
		nav
			div.container
				ul.nav.navbar-nav
					li
						a(ui-sref='app.profile') view1
					li
						a(ui-sref='app.initialisation-main') view12
		section(id="overview-section")
			div.container
				h1
					| Welcome text
				div(ng-controller="MainCtrl")
					| {{message}}

	section.container(id="content")
		div(ui-view)

		
	//- libs
	script(src='app-src/lib/bower/angular/angular.js')
	script(src='app-src/lib/bower/angular-ui-router/release/angular-ui-router.js')
	script(src='app-src/lib/bower/jquery/dist/jquery.js')
	script(src='app-src/lib/bower/lodash/lodash.js')
	//- services
	script(src='app-src/js/services/rest-service.js')
	//- controllers
	script(src='app-src/js/controllers/main-ctrl.js')
	script(src='app-src/js/controllers/profile-ctrl.js')
	//- app
	script(src='app-src/js/configs/routes-cfg.js')
	script(src='app-src/js/app.js')


