extends layout

block body
  div
    | welcome test
  div(ng-controller="MainCtrl")
    | {{message}}
  a(href='profile/?debug') view1
  div(ng-view)

  // loading scripts
  if inProduction
    // libs
    script(src='js/lib/bower/angular/angular.js')
    script(src='js/lib/bower/jquery/jquery.js')
    // controller
    script(src='js/src/controller/main-ctrl.js')
    script(src='js/src/controller/profile-ctrl.js')
    // app
    script(src='js/src/app.js')
  else
    script(src='js/dist/lib.min.js')
    script(src='js/dist/app.min.js')


