extends layout

block body
  div
    | welcome test
  div(ng-controller="MainCtrl")
    | {{message}}
  a(href='profile/?debug') view1
  div(ng-view)

    // loading scripts
    //if inProduction
    // libs
    script(src='app-src/js/lib/bower/angular/angular.js')
    script(src='app-src/js/lib/bower/jquery/jquery.js')
    script(src='app-src/js/lib/bower/lodash/lodash.js')
    // controller
    script(src='app-src/js/controller/main-ctrl.js')
    script(src='app-src/js/controller/profile-ctrl.js')
    // app
    script(src='app-src/js/routes.js')
    script(src='app-src/js/app.js')
//  else
//    script(src='app-build/js/lib.min.js')
//    script(src='app-build/js/app.min.js')


