extends layout

block body


	script()
		var BACKEND_URL = "https://radiant-fire-4047.firebaseio.com";
		


	div(ui-view)

		
	//- libs
	script(src='app-src/lib/bower/angular/angular.js')
	script(src='app-src/lib/bower/angular-ui-router/release/angular-ui-router.js')
	script(src='app-src/lib/bower/jquery/dist/jquery.js')
	script(src='app-src/lib/bower/lodash/lodash.js')
	//- services
	script(src='app-src/js/services/rest-service.js')
	script(src='app-src/js/services/release-service.js')
	//- controllers
	script(src='app-src/js/controllers/main-ctrl.js')
	script(src='app-src/js/controllers/profile-ctrl.js')
	script(src='app-src/js/controllers/pages/releases-ctrl.js')
	script(src='app-src/js/controllers/includes/navigation-ctrl.js')
	script(src='app-src/js/controllers/body-style-ctrl.js')
	//- app
	script(src='app-src/js/configs/routes-cfg.js')
	script(src='app-src/js/app.js')


