extends layout

block body
  div
    | welcome test
  div(ng-controller="MainCtrl")
    | {{message}}
  a(href='profile/?debug') view1
  div(ng-view)

  script(src='js/lib/bower/angular/angular.js')
  script(src='js/lib/bower/jquery/jquery.js')

  if inProduction
    // controller
    script(src='js/controller/main-ctrl.js')
    script(src='js/controller/profile-ctrl.js')
    // app
    script(src='js/app.js')
  else
    script(src='js/dist/app.min.js')


