!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title FrontEndStack Seed
    link(rel='stylesheet', href='app-build/css/bootstrap.css')
    link(rel='stylesheet', href='app-build/css/app.css')
  body
    block body