!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title FrontEndStack Seed
    link(rel='stylesheet', href='styles/dest/bootstrap.css')
    link(rel='stylesheet', href='styles/dest/base.css')
  body
    block body