!!!
html(ng-app="myApp")
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="google", content="notranslate")
		base(href='/')
		title FrontEndStack Seed
		link(rel='stylesheet', href='app-build/css/bootstrap.css')
		link(rel='stylesheet', href='app-src/lib/bower/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='app-build/css/app.css')
		
	body
		block body