@import "colors/colors";

@import "pages/releases";

@import "includes/navigation";

body {
  background-color: @defaultBackgroundColor;
  color: @defaultTextColor;
  font-family: 'Arial', sans-serif;

}

header {
  nav {
    background-color: @darkPrimaryColor;
  }
  #overview-section {
    background-color: @primaryColor;
    color: @textOnPrimaryColor;
  }
}

